section {
    .user-data{
        display:flex;
        align-items: center;
        width: 40%;
        
        div span {
            font-weight: 500;
            color: var(--text);
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .is-online-dot {
                padding: 0.30rem;
                background: var(--green);
                border-radius: 1rem;
            }
            
            .isnt-online-dot {
                padding: 0.30rem;
                background: var(--red);
                border-radius: 1rem;
            }
        }
    }
}