main {
    margin-top: 5rem;
}

section {
    margin: 1rem 1.5rem;
    padding: 0.8rem;
    background: #FFF;
    border-radius: 0.25rem;
    display: flex;
    
    .user-data{
        display:flex;
        
        .user-img {
            padding: 2rem;
            max-width: 2rem;
            background: #b6b6b6;
            border-radius: 10rem;
            margin-right: 1rem;
        }
        
        div span {
            font-weight: 500;
            color: var(--text);
        }

        div p {
            font-size: 1rem;
            color: var(--text-light);
            margin-top: 0.25rem;
        }
    }

    .is-online {
        margin-left: 75%;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @media (max-width: 720px) {
            margin-left: 45%;
        } 

        p {
            color: var(--text-light);
        }

        .toggle {
            position: relative;
            display: inline-block;
            width: 3.6rem;
            height: 2rem;

            input { 
                opacity: 0;
                width: 0;
                height: 0;

                &.online + .slider {
                    background-color: var(--green);
                }
                  
                &.online + .slider {
                    box-shadow: 0 0 1px var(--green);
                }
                  
                &.online + .slider:before {
                    -webkit-transform: translateX(1.5rem);
                    -ms-transform: translateX(1.5rem);
                    transform: translateX(1.5rem);
                }
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--red);
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 34px;

                &:before {
                    position: absolute;
                    content: "";
                    height: 1.5rem;
                    width: 1.5rem;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                }

            }

        }
    }

}

div {
    margin: auto 0;
}

