:root {
    --darkest: #06061e;
    --background: #f4f4f4;
    --red: #fb2a3c;
    --green: #22ec15;
    --text: #3e3e3e;
    --text-light: #686767;
    --input-background: #e7e7e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    @media (max-width: 1080px){
        font-size: 93.75%;
    } 

    @media (max-width: 720px) {
        font-size: 87.5%;
    } 
}
  
  body {
    font: 16px "Roboto", Arial, sans-serif;
    color: #121214;
    background: var(--background);
  }
  
  input, textarea {
    font-family: "Roboto";
  }

  button {
      cursor: pointer;
  }

  .toggle {
    position: relative;
    display: inline-block;
    width: 3.1rem;
    height: 1.5rem;

    input { 
        opacity: 0;
        width: 0;
        height: 0;

        &.online + .slider {
            background-color: var(--green);
        }
          
        &.online + .slider {
            box-shadow: 0 0 1px var(--green);
        }
          
        &.online + .slider:before {
            -webkit-transform: translateX(1.5rem);
            -ms-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--red);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 1.1rem;
            width: 1.1rem;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

    }

}
  