header {
    background: var(--darkest);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 2rem 1rem;
    border-radius: 0.25rem;

    span {
        color: #FFF;
        font-weight: 300;
        font-size: 1rem;
    }

    strong {
        color: #FFF;
        font-weight: 500;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

.new-employee {
    position: absolute;
    top: 9.5rem;
    right: 1.5rem;

    color: #FFF;
    background: var(--red);
    padding: 0.7rem 1rem;
    border:0;
    border-radius: 0.25rem;
}