.react-modal-overlay{
    background: rgba(0,0,0,0.1);
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .react-modal-content{
    width:25rem;
    height: 100%;
    max-width: 576px;
    background: var(--background);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0.25rem;
  }

  .top {
    display: flex;
    align-items: center;
    gap: 1rem;
        
    button {
        background: transparent;
        border:0;
        color: var(--red);
        font-size: 1.5rem;
        font-weight: 500;
    }

    h6 {
        color: var(--text);
    }
  }

form {
    margin-top: 1rem;

    fieldset {
        border:0;
        margin-top: 1.5rem;
        
        select, input {
            padding: 1rem;
            width: 100%;
            border:0;
            background: var(--input-background);
            border-radius: 0.25rem;
            color: var(--text-light);
        }

        input {
            margin-top: 0.8rem;
        }

        p {
            color: var(--text-light);
            font-size: 0.8rem;
            line-height: 1.2rem;
            margin-top: 0.3rem;
            text-align: center;

            a {
                text-decoration: none;
                color: var(--red);
                font-size: 0.8rem;
            }
        }

        .online-status{
            display: flex;
            gap: 1rem;
            margin-top: 1.5rem;
        }
        
    }

    .submit-button {
        color: #FFF;
        background: var(--red);
        padding: 0.9rem;
        width: 100%;
        border:0;
        border-radius: 0.25rem;

        margin-top: 2rem;
    }
}
